In [1]:
# to import requried libraries
import selenium
import pandas as pd
import numpy as np
import time
import requests
import re
from selenium import webdriver 
from selenium.webdriver.common.by import By

In [2]:
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException

In [3]:
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

C:\Users\Admin\AppData\Local\Temp\ipykernel_8320\2673268490.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = "https://www.yatra.com/"

In [5]:
#getting the yatra page for flight prediction..
driver.get(url)
time.sleep(3)

In [6]:
i=0
while(i<10):
    driver.execute_script("window.scrollBy(0,100)") # scroll down to get access to data for scraping
    i+=1

In [7]:
flight_url=[]

In [8]:
flight_tag=driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']")
for x in flight_tag:
    try:
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')

In [10]:
loc1 = driver.find_element(By.XPATH,'/html/body/div[2]/div/section/div[2]/div[1]/ul/li[1]')
loc1.click()

for x in flight_tag:
    try: 
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')
    time.sleep(1)

In [11]:
loc2=driver.find_element(By.XPATH,'/html/body/div[2]/div/section/div[2]/div[1]/ul/li[2]')
loc2.click()

for x in flight_tag:
    try:
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')
        
    time.sleep(1)

In [12]:
loc3 = driver.find_element(By.XPATH,'/html/body/div[2]/div/section/div[2]/div[1]/ul/li[3]')
loc3.click() 

for x in flight_tag:
    try:
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')
    time.sleep(1)

In [13]:
loc4=driver.find_element(By.XPATH,'/html/body/div[2]/div/section/div[2]/div[1]/ul/li[4]')
loc4.click()

for x in flight_tag:
    try:
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')
    time.sleep(1)

In [14]:
loc5=driver.find_element(By.XPATH,'/html/body/div[2]/div/section/div[2]/div[1]/ul/li[5]')
loc5.click()

for x in flight_tag:
    try:
        flight_url.append(x.get_attribute("href"))
    except:
        flight_url.append('-')
    time.sleep(1)

In [15]:
flight_url

['https://www.yatra.com/flight-schedule/delhi-to-mumbai-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-goa-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-bengaluru-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-chennai-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-hyderabad-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-kolkata-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-srinagar-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-pune-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-patna-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-leh-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/flight-schedule/delhi-to-mumbai-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-goa-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-bengaluru-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-chennai-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-hyderabad-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-kolkata-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-srinagar-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-pune-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-patna-flights.html',
 'https://www.yatra.com/flight-schedule/delhi-to-leh-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/flight-schedule/delhi-to-mumbai-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-bengaluru-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-varanasi-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-kolkata-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-chandigarh-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-chennai-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-cochin-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-jaipur-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-dehradun-flights.html',
 'https://www.yatra.com/flight-schedule/mumbai-to-ahmedabad-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/flight-schedule/mumbai-to-delhi-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-kolkata-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-mumbai-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-jaipur-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-goa-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-hyderabad-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-guwahati-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-pune-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-ahmedabad-flights.html',
 'https://www.yatra.com/flight-schedule/bengaluru-to-cochin-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/flight-schedule/hyderabad-to-bengaluru-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-goa-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-delhi-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-chennai-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-tirupati-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-cochin-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-vishakhapatnam-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-jaipur-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-ahmedabad-flights.html',
 'https://www.yatra.com/flight-schedule/hyderabad-to-varanasi-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/flight-schedule/hyderabad-to-bengaluru-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-delhi-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-mumbai-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-port-blair-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-guwahati-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-chennai-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-goa-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-bagdogra-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-hyderabad-flights.html',
 'https://www.yatra.com/flight-schedule/kolkata-to-pune-flights.html',
 'https://www.yatra.com/international-flights/delhi-to-dubai-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-phuket-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights',
 'https://www.yatra.com/international-flights/delhi-to-toronto-flights',
 'https://www.yatra.com/international-flights/delhi-to-vancouver-flights',
 'https://www.yatra.com/international-flights/delhi-to-san-francisco-flights',
 'https://www.yatra.com/international-flights/delhi-to-bangkok-flights',
 'https://www.yatra.com/international-flights/delhi-to-sydney-flights',
 'https://www.yatra.com/international-flights/delhi-to-london-flights']

In [16]:
len(flight_url)

120

In [17]:
#removing the foreighn flights..
flight_url=[z for z in flight_url if"https://www.yatra.com/international-flights/" not in z]

In [18]:
len(flight_url)

60

In [19]:
flight_name=[]
flight_num=[]
flight_src=[]
flight_dest=[]
flight_stops=[]
flight_duration=[]
flight_price=[]
flight_date=[]
flt=[]

In [20]:
for y in flight_url:
    driver.get(y) #loading the url on web driver
    time.sleep(4)
    y_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[1]/ul[1]/li[2]/a")
    for a in y_tag:
        try: 
            flt.append(a.get_attribute("href")) 
        except:
            flt.append('-')
            
    try:
        airlinetag = driver.find_elements(By.XPATH,"//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            flight_name.append(i.text) #finds all airline name elements and appends them to airline list
    except:
        flight_name.append('-')
        
    try:
        fltnumtag = driver.find_elements(By.XPATH,"//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag: 
            flight_num.append(i.text) #finds all airline flightnumber elements and appends them to flightnumber list
    except:
        flight_num.append('-')   
    try:
        srctag = driver.find_elements(By.XPATH,"//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            flight_src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        flight_src.append('-')
    try:
        desttag=driver.find_elements(By.XPATH,"//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in desttag:
            flight_dest.append(i.text)#finds all destination places 
    except:
        flight_dest.append('-')
        
    try:
        stopstag = driver.find_elements(By.XPATH,"//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
        for i in stopstag:
            flight_stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        flight_stops.append('-')
    try:
        durationtag = driver.find_elements(By.XPATH,"//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            flight_duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        flight_duration.append('-')
    
    try:
        pricetag = driver.find_elements(By.XPATH,"//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            flight_price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        flight_price.append('-')
    try:
        deptdatetag = driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div[3]/div[1]/section/section/section/section/div[2]/div[2]/div/div[1]/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div[2]/div[1]/div[3]")
        for i in range(0,10):
            flight_date.append(deptdatetag.text) 
    except:
        flight_date.append('-')

In [21]:
len(flight_num)

802

In [22]:
len(flight_date)

60

In [25]:
for y in flt:
    driver.get(y)
    time.sleep(4)
    
    try:
        airlinetag=driver.find_elements(By.XPATH,"//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            flight_name.append(i.text)
    except:
        flight_name.append('-')
        
    try:
        fltnumtag=driver.find_elements(By.XPATH,"//p[@class='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
            flight_num.append(i.text)
    except:
        flight_num.append('-')
        
    try:
        srctag=driver.find_elements(By.XPATH,"//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            flight_src.append(i.text)
    except:
        flight_src.append('-')
    try:
        desttag=driver.find_elements(By.XPATH,"//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in desttag:
            flight_dest.append(i.text)
    except:
        flight_dest.append('-')    
        
    try:
        stopstag=driver.find_elements(By.XPATH,"//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
        for i in stopstag:
            flight_stops.append(i.text)
    except:
        flight_stops.append('-')
    try:
        durationtag = driver.find_elements(By.XPATH,"//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            flight_duration.append(i.text)
    except:
        flight_duration.append('-')
    
    try:
        pricetag = driver.find_elements(By.XPATH,"//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            flight_price.append(i.text)
    except:
        flight_price.append('-')
    try:
        deptdatetag = driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div[3]/div[1]/section/section/section/section/div[2]/div[2]/div/div[1]/div/div[3]/div[2]/div[1]/div[2]/div/div/div/div[2]/div[1]/div[3]")
        for i in range(0,10):
            flight_date.append(deptdatetag.text)
    except:
        flight_datedate.append('-')

In [26]:
len(flight_num)

802

In [27]:
dest=[] #empty list to contain destination location data
source=[]   #empty list to contain source location data
for i in range(0,len(flight_src),2):  
    source.append(flight_src[i])
for i in range(1,len(flight_src),2):
    dest.append(flight_src[i])

In [28]:
FlightDF= pd.DataFrame({'Airline':flight_name,'Flight Number':flight_num,'From':source,'To':dest,'Duration':flight_duration,'Total Stops':flight_stops,'Price':flight_price})

In [29]:
FlightDF

      Airline Flight Number       From      To Duration Total Stops  Price
0    SpiceJet       SG-8709  New Delhi  Mumbai   2h 10m    Non Stop  5,950
1    SpiceJet       SG-8701  New Delhi  Mumbai   2h 15m    Non Stop  5,950
2    SpiceJet       SG-8169  New Delhi  Mumbai   2h 20m    Non Stop  5,950
3    Go First        G8-530  New Delhi  Mumbai   2h 10m    Non Stop  5,953
4    Go First        G8-334  New Delhi  Mumbai   2h 10m    Non Stop  5,953
..        ...           ...        ...     ...      ...         ...    ...
797    IndiGo      -898/147    Kolkata    Pune   6h 10m      1 Stop  9,972
798    IndiGo     -771/6104    Kolkata    Pune   6h 40m      1 Stop  9,972
799    IndiGo    -6663/6653    Kolkata    Pune   6h 50m      1 Stop  9,972
800    IndiGo     -2083/147    Kolkata    Pune   7h 10m      1 Stop  9,972
801    IndiGo    -6438/6104    Kolkata    Pune   7h 50m      1 Stop  9,972

[802 rows x 7 columns]

In [ ]:
FlightDF.to_csv('Flight_Datascrape.csv')

In [71]:
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

C:\Users\Admin\AppData\Local\Temp\ipykernel_8320\2673268490.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [72]:
url = 'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver.get(url)

In [73]:
a = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=BOM-Mumbai-India|DEL-Delhi-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BLR-Bangalore-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=BLR-Bangalore-India|DEL-Delhi-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=BOM-Mumbai-India|BLR-Bangalore-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=BLR-Bangalore-India|BOM-Mumbai-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=CCU-Kolkata-India|DEL-Delhi-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|GOI-Goa-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=BOM-Mumbai-India|GOI-Goa-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|HYD-Hyderabad-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|PNQ-Pune-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|CCU-Kolkata-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR','https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|PAT-Patna-India|30/09/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&&IsDoubleSeat=false&CCODE=IN&curr=INR']

In [74]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
destiny=[]#empty list to contain all the scraped airline flight route data
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [75]:
for l in a:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements(By.XPATH,"//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements(By.XPATH,"//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements(By.XPATH,"//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
    try:
        destinytag=driver.find_elements(By.XPATH,"//span[@class='txt-r3-n ng-binding']")
        for i in desttag:
            destiny.append(i.text)
    except:
        destiny.append('-')      
    try:
        stopstag = driver.find_elements(By.XPATH,"//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements(By.XPATH,"//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements(By.XPATH,"//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [76]:
for l in a:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements(By.XPATH,"//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')

In [87]:
Price = list(filter(None, price))

In [88]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])

In [89]:
len(Price)

417

In [91]:
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':price})

In [93]:
FlightDF2.head(10)

    Airline Flight Number   From      To Duration Total Stops  Price
0  GO FIRST       G8-2501  Delhi  Mumbai  02h 10m    non-stop  5,949
1  GO FIRST       G8- 334  Delhi  Mumbai  02h 10m    non-stop  5,949
2  GO FIRST       G8- 336  Delhi  Mumbai  02h 10m    non-stop  5,949
3  GO FIRST       G8- 330  Delhi  Mumbai  02h 10m    non-stop  5,949
4  GO FIRST       G8- 346  Delhi  Mumbai  02h 15m    non-stop  5,949
5  GO FIRST       G8- 354  Delhi  Mumbai  02h 15m    non-stop  5,949
6  GO FIRST       G8- 323  Delhi  Mumbai  02h 10m    non-stop  5,949
7  SpiceJet       SG- 711  Delhi  Mumbai  02h 15m    non-stop  5,950
8    Indigo       6E-2009  Delhi  Mumbai  02h 00m    non-stop  5,954
9    Indigo       6E-5023  Delhi  Mumbai  02h 05m    non-stop  5,954

In [98]:
FlightDF =  pd.read_csv('Flight_Datascrape.csv')

In [99]:
FlightDF

,Unnamed: 0,Airline,Flight Number,From,To,Duration,Total Stops,Price
0,0,Go First,G8-328,New Delhi,Mumbai,2h 00m,Non Stop,"5,950"
1,1,Go First,G8-336,New Delhi,Mumbai,2h 10m,Non Stop,"5,950"
2,2,SpiceJet,SG-8701,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
3,3,SpiceJet,SG-8169,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
4,4,Go First,G8-330,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
...,...,...,...,...,...,...,...,...
819,819,Vistara,UK-738/997,Kolkata,Pune,21h 35m,1 Stop,"8,815"
820,820,Air Asia,I5-554,Kolkata,Pune,2h 30m,Non Stop,"8,922"
821,821,IndiGo,-476,Kolkata,Pune,2h 45m,Non Stop,"9,342"
822,822,Air Asia,I5-541/319,Kolkata,Pune,11h 20m,1 Stop,"9,504"
823,823,IndiGo,-6717/6746,Kolkata,Pune,5h 40m,1 Stop,"9,867"

In [100]:
df=pd.concat([FlightDF,FlightDF2],ignore_index=True)

In [101]:
df

,Unnamed: 0,Airline,Flight Number,From,To,Duration,Total Stops,Price
0,0.0,Go First,G8-328,New Delhi,Mumbai,2h 00m,Non Stop,"5,950"
1,1.0,Go First,G8-336,New Delhi,Mumbai,2h 10m,Non Stop,"5,950"
2,2.0,SpiceJet,SG-8701,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
3,3.0,SpiceJet,SG-8169,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
4,4.0,Go First,G8-330,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
...,...,...,...,...,...,...,...,...
2636,NaN,GO FIRST,G8- 119,Delhi,Patna,14h 45m,1-stop,"33,054"
2637,NaN,Air India,AI-481,Delhi,Patna,29h 20m,2+-stop,
2638,NaN,Air India,AI-504,Delhi,Patna,16h 30m,2+-stop,
2639,NaN,Air India,AI-624,Delhi,Patna,18h 45m,1-stop,
2640,NaN,Air India,AI-807,Delhi,Patna,20h 30m,2+-stop,

In [102]:
df.to_csv('Flight_Price_Pred.csv')

In [103]:
df

,Unnamed: 0,Airline,Flight Number,From,To,Duration,Total Stops,Price
0,0.0,Go First,G8-328,New Delhi,Mumbai,2h 00m,Non Stop,"5,950"
1,1.0,Go First,G8-336,New Delhi,Mumbai,2h 10m,Non Stop,"5,950"
2,2.0,SpiceJet,SG-8701,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
3,3.0,SpiceJet,SG-8169,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
4,4.0,Go First,G8-330,New Delhi,Mumbai,2h 15m,Non Stop,"5,950"
...,...,...,...,...,...,...,...,...
2636,NaN,GO FIRST,G8- 119,Delhi,Patna,14h 45m,1-stop,"33,054"
2637,NaN,Air India,AI-481,Delhi,Patna,29h 20m,2+-stop,
2638,NaN,Air India,AI-504,Delhi,Patna,16h 30m,2+-stop,
2639,NaN,Air India,AI-624,Delhi,Patna,18h 45m,1-stop,
2640,NaN,Air India,AI-807,Delhi,Patna,20h 30m,2+-stop,